<a [routerLink]="['/dashBoard',{outlets:{'hexa':['employshow']}}]">Show Employ</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['/dashBoard',{outlets:{'hexa':['employsearch']}}]">Search Employ</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['/dashBoard',{outlets:{'hexa':['addemploy']}}]">Add Employ</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['/dashBoard',{outlets:{'hexa':['deleteemploy']}}]">Delete Employ</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['/dashBoard',{outlets:{'hexa':['updateemploy']}}]">Update Employ</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<hr/>
<router-outlet name="hexa"></router-outlet>
